<div class="card-body aqua-gradient color-block mb-3 mx-auto z-depth-1 siteNameHeader">
  <a href="/">
    <h1 id="siteName">CodeRage</h1>
  </a>
  <br>
  <p class="tagLine">Profile</p>
  <div id="logoutButton">
    <a href="/login" class="btn aqua-gradient logoutButton">Logout</a>
  </div>
  
  
</div>

<div class="container">
  <h2 id="directions">Let's write your eventful coding experience!!</h4>
    <div class="row">
      <div class="card-body aqua-gradient color-block mb-3 mx-auto z-depth-1 rageBlock">
        <p class="cool-font">Your Name</p>
        <input class="form-control" type="text" id="author" placeholder="Enter Your Name">
        <br>
        <p class="cool-font">Your Rage</p>
        <textarea class="form-control" rows="3" id="chirp-box" placeholder="Vent Your CodeRage Here!"></textarea>
        <button id="chirp-submit" class="btn aqua-gradient">Submit!</button>
      </div>
    </div>
</div>
<script type="text/javascript" src="js/chirp.js"></script>